html,
body {
  background-color: white;
  height: 100%;
  max-height: 100%;
  max-width: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  padding: 0;
  margin: 0;
}
#page-container {
  background-color: white;
  height: 100%;
  width: 100%;
  max-width:100%;
}
#newspaper-name-section {
  background-color: #f0efad;
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  height: 20%;
  width: 100%;
  max-width:100%;
}

#wrapper {
  flex:5;
  height:100%;
  width:100%;
  max-width:100%;
}
.image {
  height:100%;
  width:100%;
  max-width:100%;
  flex:1;
}

#nns-title {
  align-items: center;
  display:flex;
  flex-direction:row;
  flex:5;
  height:100%;
  justify-content: center;
  background-color: 100%;
  max-width:100%;
}

#nns-title h1 {
  font-size: 70px;
  font-family: "News Cycle"
}
p {
  font-family: "News Cycle"
}

#news-sections {
  background-color: #f0efad;
  display:grid;
  grid-template-columns: 1fr 5fr 1fr;
  grid-template-rows: 100%;
  min-height:80%;
  height:auto;
  width:100%;
  max-width:100%;
}
#news-section-middle {
  background-color: #f0efad;
  display:flex;
  flex-direction: column;
  grid-column:2;
  grid-row:1;
  min-height:100%;
  height: auto;
  width:100%;
  max-width:100%;
}
#news-section-title {
  align-items: center;
  display:flex;
  flex-direction: column;
  height: 10%;
  justify-content: center;
  width:100%;
  max-width:100%;
}

@media screen and (max-width: 800px) {
  #nns-title h1 {
    font-size: 20px;
  }

  #wrapper {
    flex:1;
    height:100%;
    max-width:100%;
    width:100%;
  }
  .image {
    height:100%;
    width:15%;
    max-width:15%;
    flex:1;
  }
  #newspaper-name-section {
    height: 10%;
  }
@media screen and (max-width: 600px) {
  #nns-title h1 {
    font-size: 20px;
  }

  #wrapper {
    flex:1;
    height:100%;
    max-width:100%;
    width:100%;
  }
  .image {
    height:100%;
    width:20%;
    max-width:20%;
    flex:1;
  }
  #newspaper-name-section {
    height: 10%;
  }
}}
